<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EduFlow AcademySuite{% endblock %}</title>
    
    {% load static %}
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body class="d-flex">

    <div class="sidebar d-flex flex-column p-3">
        {% include 'partials/_sidebar.html' %}
    </div>

    <div class="w-100">
        <nav class="navbar-main d-flex align-items-center">
            {% include 'partials/_navbar.html' %}
        </nav>

        <main class="main-content">
            {% include 'partials/_messages.html' %}
            {% block content %}{% endblock %}
        </main>
    </div>

    <div class="modal fade" id="htmx-modal" tabindex="-1" aria-labelledby="htmx-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" id="htmx-modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    
    <script src="{% static 'js/main.js' %}" defer></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        // Pass CSRF token to HTMX
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>

    {% block extra_js %}{% endblock %}

</body>
</html>