{% extends "base.html" %}

{% block title %}Create Learning Path | {{ block.super }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="h2 mb-4">Create New Learning Path</h1>

    <div class="card">
        <div class="card-body p-4">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.title.id_for_label }}" class="form-label">{{ form.title.label }}</label>
                    {{ form.title }}
                </div>
                 <div class="mb-3">
                    <label for="{{ form.description.id_for_label }}" class="form-label">{{ form.description.label }}</label>
                    {{ form.description }}
                </div>
                <div class="mb-4">
                    <label for="{{ form.supervisor.id_for_label }}" class="form-label">{{ form.supervisor.label }}</label>
                    {{ form.supervisor }}
                </div>
                <button type="submit" class="btn btn-primary">Save and Build Path</button>
                <a href="#" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}